/* for header serction */
.first-block{
    background-color: #C6E4D6;
    display: flex;
    justify-content: center;
    padding: 80px 50px;
    border-radius: 30px;
    margin: 160px;
    /* font-size: 56px; */
}
.text-color{
    color: #0e0e0e7e;
}

.btn-design{
    color: #FFFFFF;
    padding: 17px 34px;
    background-color: #006A50;
    border-radius: 8px;
    font-size: 18px;
    border: none;
    
}
/* for main part */
.mgn{
    margin: 160px;
}

.vission{
    display: flex;
    gap: 24px;
}
.btn-1{
    color: white;
    border-radius: 8px;
    background-color: #5490F5;
    padding: 11px 20px;
    gap: 24px;
    border: none;
}
.btn-2{
    color: white;
    border-radius: 8px;
    background-color: #FFC239;
    padding: 11px 20px;
    gap: 24px;
    border: none;
}
.btn-3{
    color: white;
    border-radius: 8px;
    background-color: #09A15C;
    padding: 11px 20px;
    gap: 24px;
    border: none;
}
.div-1{
    background-color: #81B4FC;
    border-radius: 16px;
    padding: 32px;
}
.div-2{
    background-color: #F7EBCF;
    border-radius: 16px;
    padding: 32px;
}
.div-3{
    background-color: #C6E4D6;
    border-radius: 16px;
    padding: 32px;
}
/* for recent news section */

.alada{
    display: flex;
    justify-content: center;
    padding: 48px 0;
    gap: 30px;
    background-color: #FFFFFF;
}
.pic{
    border-radius: 24px;
}

/* donate section */

.every{
    margin: 80px 160px;
    text-align: center;
    
}
.butn{
    display: flex;
    justify-content: center;
    gap: 24px;
}
.ts{
    border-radius: 16px;
    font-size: large;
    color: #0e0e0ed2;
    background-color: white;
    padding: 30px;
}

.input-design{
    gap: 24px;
    color: #0e0e0e1a;
    padding: 20px ;
    text-align: center;
    width: 100%;
    margin: 32px;
}
.for-gap{
    margin: 24px;
}

/* subscribe section  */

.everything{
    text-align: center;
    padding: 80px 100px;
    background-color: #C6E4D6;
    border-radius: 24px;
    margin: 80px 160px;
}
.email{
    display: flex;
    justify-content: center;
    width: 100%;
}