/* for header serction */
.first-block{
    background-color: #C6E4D6;
    display: flex;
    justify-content: center;
    padding: 80px 50px;
    border-radius: 30px;
    margin: 160px;
    /* font-size: 56px; */
}
.text-color{
    color: #0e0e0e7e;
}

.btn-design{
    color: #FFFFFF;
    padding: 17px 34px;
    background-color: #006A50;
    border-radius: 8px;
    font-size: 18px;
    border: none;
    
}
/* for main part */
.mgn{
    margin: 160px;
}

.vission{
    display: flex;
    gap: 24px;
}
.btn-1{
    color: white;
    border-radius: 8px;
    background-color: #5490F5;
    padding: 11px 20px;
    gap: 24px;
    border: none;
}
.btn-2{
    color: white;
    border-radius: 8px;
    background-color: #FFC239;
    padding: 11px 20px;
    gap: 24px;
    border: none;
}
.btn-3{
    color: white;
    border-radius: 8px;
    background-color: #09A15C;
    padding: 11px 20px;
    gap: 24px;
    border: none;
}
.div-1{
    background-color: #81B4FC;
    border-radius: 16px;
    padding: 32px;
}
.div-2{
    background-color: #F7EBCF;
    border-radius: 16px;
    padding: 32px;
}
.div-3{
    background-color: #C6E4D6;
    border-radius: 16px;
    padding: 32px;
}
/* for recent news section */
.recent-news-div{
    margin: 160px;
}
.alada{
    display: flex;
    justify-content: center;
    padding: 48px 0;
    gap: 30px;
    background-color: white;
}
.pic{
    border-radius: 24px;
}